<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.lineicons.com/3.0/lineicons.css" rel="stylesheet">
    <link rel="stylesheet" href="../css/footer.css"> 
    <title>Your Website</title>
</head>
<body class="d-flex flex-column min-vh-100">

    <div class="container flex-grow-1">
        <!-- Your main content here -->
    </div>

    <footer class="footer mt-auto bg-dark py-4 text-white text-center">
        <div class="main-content">
            <div class="container">
                <p>Copyright © 2024 Rawad Alharastani. All Rights Reserved.</p>
                <div class="d-flex justify-content-center">
                    <a href="https://github.com/ralharas" class="text-white mx-2"><i class="fab fa-github"></i></a>
                    <a href="https://www.linkedin.com/in/rawad-alharastani-b18235232/" class="text-white mx-2"><i class="fab fa-linkedin"></i></a>
                </div>
            </div>
        </div>
    </footer>

</body>
</html>
