html {
    background-color: rgb(0, 0, 0);
}
.headers {
    color:blue;
    font-size: 40px;
    font-family: "Workbench";
}
.listing {
    color: blue;
    font-size: 25px;
    font-family: 'Major Mono Display';
}
.disc {
    color: blue;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    border: 5px solid skyblue;
}

.skills-customsize {
    color: blue;
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
    width: 85px;
    height: 80px;
    }
     
.socials-list {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.socials-list .socials {
    margin-right: 20px;
}

#linkedinMargin {
    margin-top: 0;
    margin-right: 0;
}

#InternshipHeader {
    font-family: 'Dancing Script';
}

#PageTitle {
    color: blue;
    font-size: 50px;
    font-family: 'Dancing Script';
}

.socials a {
    color: blue;
    font-size: 15px;
    font-family: 'Times New Roman,', Times, serif;
}
