<%- include('partials/header') %>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/contact.css"> 
</head>
<body>
    <div class="container d-flex justify-content-center align-items-center min-vh-100">
        <form id="contact-form" class="contact-form">
            <h2 class="text-center">Contact Me</h2>
            <div class="form-group">
                <input type="text" name="name" class="form-control" placeholder="Your Name" required>
            </div>
            <div class="form-group">
                <input type="email" name="email" class="form-control" placeholder="Your Email" required>
            </div>
            <div class="form-group">
                <input type="text" name="subject" class="form-control" placeholder="Subject" required>
            </div>
            <div class="form-group">
                <textarea class="form-control" name="message" rows="4" placeholder="Message" required></textarea>
            </div>
            <div class="form-group text-right">
                <button type="submit" class="btn btn-primary">Send</button>
            </div>
        </form>
    </div>
    
    <script src="https://cdn.jsdelivr.net/npm/emailjs-com@3/dist/email.min.js"></script>
    <script type="text/javascript">
        (function () {
            emailjs.init('_Or2TbMvwxIlC_IsV'); 
        })();

        document.getElementById('contact-form').addEventListener('submit', function(event) {
            event.preventDefault(); 

        
            console.log("EmailJS Initialized");

            emailjs.sendForm('service_2fz2qgd', 'template_z3idx7n', this)
            .then(function() {
                console.log('SUCCESS!');
                alert("Your message has been sent successfully");
            }, function(error) {
                console.log('FAILED....', error);
                alert('There was an error sending your message, Please email rawadalh233@gmail.com');
            });
        });
    </script>
</body>
</html>
<%- include('partials/footer') %>
