<%- include('partials/header') %>
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="/css/global.css"> 
<link rel="stylesheet" href="/css/index.css"> 

<div class="container text-center mt-5">
    <h1>Hello, I'm Rawad.</h1>
    <p>Currently studying Computer Science and Political Science at Western University. Fascinated by the intersection of technology and law.</p>
    <form class="form-inline justify-content-center mt-4">
        <input class="form-control mr-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Go</button>
    </form>
    <div class="row mt-5">
        <div class="col-lg-4">
            <a href="/about">
                <img src="/img/about.jpg" class="img-fluid" alt="About Me">
                <h3>About Me</h3>
            </a>
        </div>
        <div class="col-lg-4">
            <a href="/projects">
                <img src="/img/projects.jpg" class="img-fluid" alt="Projects">
                <h3>Projects</h3>
            </a>
        </div>
        <div class="col-lg-4">
            <a href="/contact">
                <img src="/img/contact.jpg" class="img-fluid" alt="Contact">
                <h3>Contact</h3>
            </a>
        </div>
    </div>
</div>

<%- include('partials/footer') %>
