.container {
    margin-top: 50px;
}

img.img-fluid {
    width: 100%;
    height: auto;
    margin-bottom: 30px;
    border-radius: 5px;
    cursor: pointer; 
}

.carousel-item img {
    border-radius: 5px;
}

h1 {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 20px;
}

p {
    font-size: 1.1rem;
    line-height: 1.6;
    color: #333;
    margin-bottom: 20px;
}

.btn {
    margin-right: 10px;
}

.btn-primary, .btn-secondary {
    padding: 10px 20px;
    font-size: 1rem;
    border-radius: 5px;
    transition: background-color 0.3s ease-in-out;
}

.btn-primary:hover, .btn-secondary:hover {
    background-color: #0056b3;
}

.list-group-item {
    font-size: 1.1rem;
    line-height: 1.6;
    padding: 15px 20px;
    border: none;
    border-bottom: 1px solid #ddd;
}

.list-group-item strong {
    font-weight: bold;
}

@media (max-width: 768px) {
    img.img-fluid {
        height: auto;
    }

    .btn {
        width: 100%;
        margin-bottom: 15px;
    }
}

.selected-image {
    border: 5px solid #007bff; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); 
}



.carousel-control-prev,
.carousel-control-next {
    top: 50%;
    transform: translateY(-50%);
    width: 5%;
    color: black; 
    z-index: 2; 
}


.carousel-control-prev {
    left: -30px;
}

.carousel-control-next {
    right: -30px; 
}


.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: black; 
    background-size: 50%; 
    border-radius: 50%;
    filter: invert(1); 
}


.carousel-control-prev:hover .carousel-control-prev-icon,
.carousel-control-next:hover .carousel-control-next-icon {
    background-color: gray; 
}
